<div class='container mt-4'>
  <br>
  <h1>Mon profil</h1>
  <!-- INFORMATION SUR L'UTILISATEUR -->

  	<div class= 'border border-white mt-4 pt-4 pl-2' style="max-width: 50rem; font-size: 18px;">
    	<p>
      	<u>Prénom</u>: <%= @user.first_name %><br>
      	<u>Nom</u>: <%= @user.last_name %><br>
      	<u>Email</u>: <%= @user.email %><br>
    	</p>

	  </div>
    	<%= link_to edit_user_path(current_user.id) do %>
				<button type="button" class="btn btn-warning mt-4">Editer vos informations</button>
			<% end %>

		  <%= link_to edit_user_registration_path do %>
				<button type="button" class="btn btn-warning mt-4">Editer votre Password / Mail </button>
			<% end %>
</div>
<br>

<center>
	<h4>Vos achats : </h4>
  	<div class = 'mt-4 pt-4 pl-2'>
    	<div class="card-columns">
    	  <div class="card border-primary mb-3 bg-light" style="max-width: 20rem;">
          <div class="card-body">
						<%current_user.orders.each do |order|%>
							<p>Acheté le : <%= order.created_at %> <p>
								
								<% order.items.each do |item| %>
								<p>Titre :<%= item.title %><p>
								<p> Description :<%= item.description %><p>
								<p> Prix : <%= item.price %> €<p>
								<img src="<%= item.image_url %>" alt="..." class="card-img-top p-2">
								<%end%>
						<%end%>
					</div>
				</div>
			</div>
		</div>
</center>