<center><div class='container mt-4'>
  <br>
  <h1>Mon profil</h1>
  <!-- INFORMATION SUR L'UTILISATEUR -->

  	<div class= 'border border-white mt-4 pt-4 pl-2' style="max-width: 50rem; font-size: 18px;">
    	<p>
      	<u>Prénom</u>: <%= @user.first_name %><br>
      	<u>Nom</u>: <%= @user.last_name %><br>
      	<u>Email</u>: <%= @user.email %><br>
    	</p>

	  </div>
    	<%= link_to edit_user_path(current_user.id) do %>
				<button type="button" class="btn btn-warning mt-4">Editer vos informations</button>
			<% end %>

		  <%= link_to edit_user_registration_path do %>
				<button type="button" class="btn btn-warning mt-4">Editer votre Password / Mail </button>
			<% end %>
</div>
<br>


	<h4>Vos achats : </h4>

  	<div class="container p-4 ">
    	<div class="row d-flex justify-content-around">

    		<%current_user.orders.each do |order|%>
    			<div class="container bg-light m-3 shadow-lg" style="border:1px solid #23572D">
    			<div class="row justify-content-around">		
    			<% order.items.each do |item| %>
    			<div class="card-deck">
    	  		<div class="card m-3 bg-dark text-white" style="max-width: 20rem;border:8px dotted #5c2542">
							<div class="card-body">
								<p>Numero de commande : <%=order.id%></p>
								<p>Acheté le : <%= order.created_at %></p>
								<p>Titre :<%= item.title %><p>
								<p> Description :<%= item.description %><p>
								<p> Prix : <%= item.price %> €<p>
								<img src="<%= item.image_url %>" alt="..." class="card-img-top p-2">
							</div>
      			</div>
      		</div>
					<%end%>
      		</div>
			</div>
				<%end%>
		</div>
		</div>

</center>
