<div class="jumbotron-cart">
  <h2 class="display-1 banner text-light">Mon panier</h2>
</div>

<div class="container" >
  <div class="card m-4 shadow-lg">
    <div class="card-header bg-dark text-light">
      <h4>  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
         Mes articles
         <%= link_to items_path do %>
          <div class="btn btn-info btn-sm float-right">
            Continuer le shopping
          </div>
        <%end%>
      </h4>
    </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                  <% if current_or_guest_user.cart.items.empty? == false %>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col" style="width:400px;">Produits</th>
                                <th scope="col" class="text-center">Prix</th>
                                <th scope="col" class="text-center text-muted">Quantity</th>
                                <th scope="col" class="text-center text-muted">Sous-total</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @items.sort.each do |item| %>
                            <tr class="cardt">
                                <td><img class="img-responsive shadow" src="<%= item.image_url %>" alt="prewiew" width="120" height="80" /> </td>
                                <td>
                                  <%= link_to item_path(item.id) do%>
                                    <h4 class="product-name"><strong><%= item.title %></strong></h4>
                                    <h6><small><%= item.description %></small></h6>
                                  <% end %>
                                </td>
                                <td class="text-center"><strong> <%= item.price %> € </strong></td>
                                <td id="id-<%=item.id%>" class="text-center text-muted"> <%= select_item_quantity(item).quantity %></td>
                                <td id="price-<%=item.id%>" class="text-center text-muted"> <%= (select_item_quantity(item).quantity) * (item.price) %> €</td>
                                <td class="text-center d-flex justify-content-around">
                                    <!-- BUTTON ADD ITEM -->
                                  <div>
                                    <%= form_with(url: cart_path(item.id), method: 'patch') do %>
                                      <%= button_tag(type: "submit", class:"btn btn-success shadow-sm") do %>
                                        <i class="fas fa-plus"></i>
                                      <% end %>
                                    <% end %>
                                  </div>
                                  <!-- BUTTON DELETE -->
                                  <div>
                                    <%= form_with(url: cart_path(item.id), method: 'delete') do %>
                                      <%= button_tag(type: "submit", class:"btn btn-danger shadow-sm") do %>
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                      <% end %>
                                    <% end %>
                                  </div>
                                </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>

        <div class="card-footer" style="d-flex ; height: 6em; ">
          <div class="float-right">
            <div style="margin: 5px">
                Total price: <b><%= @items_price.sum %> €</b>
            </div>
            <!-- FORMULAIRE CONNECTE A STRIPE POUR PAIEMENT COMMANDE -->
            <%= form_with(url: cart_charges_path(cart_id: params[:id])) do %>
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Validez votre achat de <%= @items_price.sum %> € !"
                  data-amount="<%= @items_price.sum * 100%>"
                  data-locale="auto"
                  data-label="Commander">
              </script>
            <% end %>
          </div>
        <% else %>
          <i> Panier vide </i>
        <% end %>
      </div>

    </div>
</div>
