<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">The Kitten Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active mr-4 pr-4">
          <% if current_user == nil %>
            <%= link_to new_user_session_path do%>
              <i class="fas fa-shopping-cart fa-2x "></i>
            <% end%>
          <%else%>
            <% if Cart.find_by(user_id: current_user.id) == nil %>
            <%else%>
            <%= link_to cart_path(current_user.id) do%>
              <i class="fas fa-shopping-cart fa-2x "></i>
            <% end %>
            <% end %>
            <% end %>
        </li>
      </ul>


<% if current_user == nil %>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">S'inscrire / Se connecter</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <center>
                <div class="dropdown-item"> <%= link_to "Inscription", new_user_registration_path %></div>
                <div class="dropdown-item"> <%= link_to "Se connecter", new_user_session_path %></div>
              </center>
            </div>
          </div>
        <%end%>

        <% if current_user %>

          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.email %></button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                <center>
                  <div class="dropdown-item"> <%= link_to "Mon profil", user_path(current_user.id) %></div>
                  <div class="dropdown-item"> <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></div>
                </center>
              </div>
          </div>
        <%end%>
      </div>
    </div>
 </nav>
