<!DOCTYPE html>
<html>
  <head>
    <title>Thekittenproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/b6554e4a7c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="https://active-storage-thp-cat.s3-us-west-1.amazonaws.com/photo+en+vente/cat(1).png" />

  </head>

  <body class="bgi">
<%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
